In [1]:
import pandas as pd
import numpy as np
import os
import mysql.connector
import csv
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('vgsales2019.csv',header=0)

In [3]:
df

,ID,Name,Genre,PLATFORM,PUBLISHER,DEVELOPER,CRITIC_SCORE,USER_SCORE,Total_TOTAL_SHIPPED,GLOBAL_SALES,NA_SALES,PAL_SALES,JP_SALES,OTHER_SALES,YRS
0,ga1,Wii Sports,Sports,Wii,Nintendo,Nintendo EAD,7.7,NaN,82.86,NaN,NaN,NaN,NaN,NaN,2006.0
1,ga2,Super Mario Bros.,Platform,NES,Nintendo,Nintendo EAD,10.0,NaN,40.24,NaN,NaN,NaN,NaN,NaN,1985.0
2,ga3,Mario Kart Wii,Racing,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.14,NaN,NaN,NaN,NaN,NaN,2008.0
3,ga4,PlayerUnknown's Battlegrounds,Shooter,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0
4,ga5,Wii Sports Resort,Sports,Wii,Nintendo,Nintendo EAD,8.0,8.8,33.09,NaN,NaN,NaN,NaN,NaN,2009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55787,ga55788,Indivisible,Role-Playing,PC,505 Games,Lab Zero Games,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55788,ga55789,Lost Ember,Adventure,PC,Mooneye Studios,Mooneye Studios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55789,ga55790,Lost Ember,Adventure,PS4,Mooneye Studios,Mooneye Studios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55790,ga55791,Lost Ember,Adventure,XOne,Mooneye Studios,Mooneye Studios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55791,ga55792,Falcon Age,Action-Adventure,PS4,Unknown,Outerloop Games,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail(5)

,ID,Name,Genre,PLATFORM,PUBLISHER,DEVELOPER,CRITIC_SCORE,USER_SCORE,Total_TOTAL_SHIPPED,GLOBAL_SALES,NA_SALES,PAL_SALES,JP_SALES,OTHER_SALES,YRS
55787,ga55788,Indivisible,Role-Playing,PC,505 Games,Lab Zero Games,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55788,ga55789,Lost Ember,Adventure,PC,Mooneye Studios,Mooneye Studios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55789,ga55790,Lost Ember,Adventure,PS4,Mooneye Studios,Mooneye Studios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55790,ga55791,Lost Ember,Adventure,XOne,Mooneye Studios,Mooneye Studios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
55791,ga55792,Falcon Age,Action-Adventure,PS4,Unknown,Outerloop Games,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
mydb = mysql.connector.connect(
  host="Ashwins-MacBook-Pro.local",
  user="root",
  passwd="password", buffered = True
)

In [6]:
mycursor = mydb.cursor()
#mycursor.execute('CREATE DATABASE STG')
mycursor.execute('USE STG')

In [7]:
#mycursor.execute('DROP TABLE STG.SRC_STG')
#mycursor.execute('CREATE TABLE STG.SRC_STG (ID VARCHAR(250),NAME VARCHAR(250),GENRE VARCHAR(250),PLATFORM VARCHAR(250),PUBLISHER VARCHAR(250),DEVELOPER VARCHAR(250),CRITIC_SCORE float(23),USER_SCORE float(23),TOTAL_SHIPPED float(23),GLOBAL_SALES float(23),NA_SALES float(23),PAL_SALES float(23),JP_SALES float(23),OTHER_SALES float(23),YRS year, primary key (id))')

In [8]:
#mycursor.execute("load data local infile ('/Users/ashwinjohnchempolil/Desktop/INFO 6210/Webscraping/vgsales2019.csv'
#into table STG.SRC_STG FIELDS terminated by ',' lines terminated by '/n' ignore 1 rows (ID, NAME, GENRE, 
#PLATFORM, PUBLISHER, DEVELOPER, CRITIC_SCORE, USER_SCORE, TOTAL_SHIPPED, GLOBAL_SALES, NA_SALES, PAL_SALES, 
#JP_SALES, OTHER_SALES, YRS) set YRS = STR_TO_DATE(YRS, '%m/%d/%y')")

In [9]:
#mycursor.execute("LOAD DATA infile 'Game_Data.csv' INTO TABLE STG.SRC_STG fields terminated BY ',' lines terminated BY '\n' (@vone, @vtwo, @vthree, @vfour, @vfive, @vsix, @vseven, @veight, @vnine, @vten, @veleven, @vtwelve, @vthirt, @vfourt,@vfift) SET ID = nullif(@vone,''), NAME = nullif(@vtwo,''), GENRE = nullif(@vthree,''), PLATFORM = nullif(@vfour,''), PUBLISHER = nullif(@vfive,''), DEVELOPER = nullif(@vsix,''), CRITIC_SCORE = nullif(@vseven,''), USER_SCORE = nullif(@veight,''), TOTAL_SHIPPED = nullif(@vnine,''), GLOBAL_SALES = nullif(@vten,''), NA_SALES = nullif(@veleven,''), PAL_SALES = nullif(@vtwelve,''), JP_SALES = nullif(@thirt,''), OTHER_SALES = nullif(@vfourt,''), YRS = nullif(@vfift,'')")

In [10]:
#mycursor.execute("SELECT * FROM STG.SRC_STG")

In [11]:
engine = create_engine('mysql://root:password@Ashwins-MacBook-Pro.local/STG?charset=utf8')

In [15]:
with engine.connect() as conn, conn.begin():
    df.to_sql('GAMEDATA', conn, if_exists='replace', index=False)

In [20]:
mycursor = mydb.cursor(buffered = True)
mycursor.execute('USE STG') # Executes to use the STG database in MYSQL
mycursor.execute('Select distinct genre from GAMEDATA')
myresult = mycursor.fetchall()

In [21]:
for x in myresult:
    print (x)

('Sports',)
('Platform',)
('Racing',)
('Shooter',)
('Role-Playing',)
('Puzzle',)
('Misc',)
('Party',)
('Simulation',)
('Action',)
('Action-Adventure',)
('Fighting',)
('Strategy',)
('Adventure',)
('Music',)
('MMO',)
('Sandbox',)
('Visual Novel',)
('Board Game',)
('Education',)