In [3]:
import pandas as pd
import numpy as np
import os
import mysql.connector
import csv
from sqlalchemy import create_engine

In [ ]:
df = pd.read_csv('vgsales2019.csv',header=0)

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
mydb = mysql.connector.connect(
  host="Ashwins-MacBook-Pro.local",
  user="root",
  passwd="password", buffered = True
)

### Let

In [ ]:
engine = create_engine('mysql://root:password@Ashwins-MacBook-Pro.local/STG?charset=utf8')

In [ ]:
with engine.connect() as conn, conn.begin():
    df.to_sql('GAMEDATA', conn, if_exists='replace', index=False)

In [ ]:
mycursor = mydb.cursor(buffered = True)
mycursor.execute('USE STG') # Executes to use the STG database in MYSQL

In [ ]:

mycursor.execute('''CREATE TABLE GAME_INVENTORY (
G_ID VARCHAR(250),
G_NAME VARCHAR (250),
DEV_ID INT,
PLATFORM CHAR (50),
R_YEAR INT(4), 
PRIMARY KEY (G_ID))
''')

In [ ]:
#mycursor.execute('''DROP TABLE RATING''')

mycursor.execute('''CREATE TABLE RATING (
R_ID VARCHAR(250),
G_ID VARCHAR(250),
C_SCORE FLOAT8,
U_SCORE FLOAT8)
''')

In [ ]:
mycursor.execute(
'''
UPDATE RATING SET R_ID = (SELECT FLOOR(RAND() * 1000) AS RANDOM_NUM FROM number_mst where "RANDOM_NUM" NOT IN ())
'''
)

In [ ]:
#mycursor.execute('''DROP TABLE PUBLISHER''')
mycursor.execute('''CREATE TABLE PUBLISHER (
PUB_ID VARCHAR(250) NOT NULL AUTO_INCREMENT,
PUB_NAME VARCHAR(250)
)''')

In [ ]:
mycursor.execute('''INSERT INTO PUBLISHER(PUB_NAME) SELECT DISTINCT PUBLISHER FROM GAMEDATA''')

In [ ]:
mycursor.execute('''DROP TABLE DEVELOPER''')
mycursor.execute('''CREATE TABLE DEVELOPER (
DEV_ID VARCHAR(250) NOT NULL AUTO_INCREMENT,
DEV_NAME VARCHAR(250),
PUB_ID INT)''')

In [ ]:
mycursor.execute('''DROP TABLE SALES''')
mycursor.execute('''CREATE TABLE SALES(
S_ID VARCHAR(250) NOT NULL AUTO_INCREMENT,
G_ID VARCHAR(250),
NA_SALE FLOAT8,
PA_SALE FLOAT8,
JP_SALE FLOAT8,
O_SALE FLOAT8
)''')

In [ ]:
mycursor.execute('''select * from PUBLISHER''')
myresult = mycursor.fetchall()
for i in myresult:
    print (i)

In [ ]:
mycursor.execute('''INSERT INTO DEVELOPER(DEV_NAME) SELECT DISTINCT DEVELOPER FROM GAMEDATA''')

In [ ]:
mycursor.execute('''ALTER TABLE DEVELOPER ADD CONSTRAINT PUB_ID FOREIGN KEY PUBLISHER (PUB_ID) 
REFERENCES PUBLISHER(PUB_ID)''')

In [ ]:
mycursor.execute('''SELECT * FROM DEVELOPER''')
myresult = mycursor.fetchall()
for i in myresult:
    print (i)

In [ ]:
mycursor.execute('''
INSERT INTO GAME_INVENTORY(G_ID,G_NAME,PLATFORM,R_YEAR) SELECT ID, NAME,PLATFORM, YRS 
FROM GAMEDATA''')

In [ ]:
mycursor.execute('''ALTER TABLE GAME_INVENTORY(DEV_ID) ADD CONSTRAINT DEV_ID FOREIGN KEY PUBLISHER (PUB_ID) 
REFERENCES DEVELOPER(DEV_ID)''')

In [ ]:
mycursor.execute('''INSERT INTO SALES(NA_SALE, PA_SALE,JP_SALE,O_SALE) SELECT GLOBAL_SALES,NA_SALES,
PAL_SALES,JP_SALES, OTHER_SALES FROM GAMEDATA''')

In [ ]:
mycursor.execute('''INSERT INTO SALES(NA_SALE, PA_SALE,JP_SALE, O_SALE) SELECT GLOBAL_SALES,NA_SALES,
PAL_SALES,JP_SALES, OTHER_SALES FROM GAMEDATA''')

In [ ]:
mycursor.execute(''' CREATE TABLE TOTAL_SHIP(
SHIP_ID INT AUTO_INCREMENT PRIMARY KEY,
TOT_SHIP FLOAT8,
G_ID VARCHAR(250),
FOREIGN KEY (G_ID) REFERENCES GAME_INVENTORY(G_ID))
''')

In [ ]:
mycursor.execute('''
INSERT INTO TOTAL_SHIP(TOT_SHIP, G_ID) SELECT Total_TOTAL_SHIPPED,ID FROM GAMEDATA
''')

In [ ]:
mycursor.execute('''select * from TOTAL_SHIP''')
myresults = mycursor.fetchall()
for i in myresults:
    print(i)

In [135]:
df = pd.read_csv('vgsales2019.csv', header= 0)

In [136]:
df.head()

,ID,Name,Genre,PLATFORM,PUBLISHER,DEVELOPER,CRITIC_SCORE,USER_SCORE,Total_TOTAL_SHIPPED,GLOBAL_SALES,NA_SALES,PAL_SALES,JP_SALES,OTHER_SALES,YRS
0,ga1,Wii Sports,Sports,Wii,Nintendo,Nintendo EAD,7.7,NaN,82.86,NaN,NaN,NaN,NaN,NaN,2006.0
1,ga2,Super Mario Bros.,Platform,NES,Nintendo,Nintendo EAD,10.0,NaN,40.24,NaN,NaN,NaN,NaN,NaN,1985.0
2,ga3,Mario Kart Wii,Racing,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.14,NaN,NaN,NaN,NaN,NaN,2008.0
3,ga4,PlayerUnknown's Battlegrounds,Shooter,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0
4,ga5,Wii Sports Resort,Sports,Wii,Nintendo,Nintendo EAD,8.0,8.8,33.09,NaN,NaN,NaN,NaN,NaN,2009.0

In [137]:
df = df.drop(['GLOBAL_SALES','NA_SALES','PAL_SALES','JP_SALES','OTHER_SALES'],axis = 1)

In [138]:
df = df.dropna()

In [139]:
game_inventory = pd.DataFrame(columns = ['G_ID', 'G_NAME','DEV_ID', 'PLATFORM','YEAR'])

In [140]:
game_inventory['G_NAME'] = df['Name']
game_inventory['PLATFORM'] = df['PLATFORM']
game_inventory['YEAR'] = df['YRS']

In [141]:
game_inventory

      G_ID                     G_NAME DEV_ID PLATFORM    YEAR
2      NaN             Mario Kart Wii    NaN      Wii  2008.0
4      NaN          Wii Sports Resort    NaN      Wii  2009.0
6      NaN      New Super Mario Bros.    NaN       DS  2006.0
8      NaN  New Super Mario Bros. Wii    NaN      Wii  2009.0
11     NaN                   Wii Play    NaN      Wii  2007.0
...    ...                        ...    ...      ...     ...
2546   NaN                  Red Steel    NaN      Wii  2006.0
3633   NaN     Phantasy Star Portable    NaN      PSP  2009.0
5781   NaN            Bionic Commando    NaN     X360  2009.0
7278   NaN                The Conduit    NaN      Wii  2009.0
16763  NaN           Submarine Titans    NaN       PC  2000.0

[64 rows x 5 columns]

### We will be adding a unique game ID for each game in the dataset

In [142]:
j=1
g_id = []
for i in game_inventory['G_ID']:
    g_id.append(j)
    j+=1

In [143]:
game_inventory['G_ID']=g_id

In [190]:
game_inventory

       G_ID                     G_NAME DEV_ID PLATFORM    YEAR
2         1             Mario Kart Wii    NaN      Wii  2008.0
4         2          Wii Sports Resort    NaN      Wii  2009.0
6         3      New Super Mario Bros.    NaN       DS  2006.0
8         4  New Super Mario Bros. Wii    NaN      Wii  2009.0
11        5                   Wii Play    NaN      Wii  2007.0
...     ...                        ...    ...      ...     ...
2546     60                  Red Steel    NaN      Wii  2006.0
3633     61     Phantasy Star Portable    NaN      PSP  2009.0
5781     62            Bionic Commando    NaN     X360  2009.0
7278     63                The Conduit    NaN      Wii  2009.0
16763    64           Submarine Titans    NaN       PC  2000.0

[64 rows x 5 columns]

In [145]:
rating = pd.DataFrame(columns = ['R_ID', 'C_SCORE', 'U_SCORE', 'G_ID'])

In [146]:
rating['C_SCORE'] = df['CRITIC_SCORE']
rating['U_SCORE'] = df['USER_SCORE']
rating

      R_ID  C_SCORE  U_SCORE G_ID
2      NaN      8.2      9.1  NaN
4      NaN      8.0      8.8  NaN
6      NaN      9.1      8.1  NaN
8      NaN      8.6      9.2  NaN
11     NaN      5.9      4.5  NaN
...    ...      ...      ...  ...
2546   NaN      5.9      7.8  NaN
3633   NaN      7.1      9.1  NaN
5781   NaN      7.1      8.0  NaN
7278   NaN      6.6      8.2  NaN
16763  NaN      6.1      9.0  NaN

[64 rows x 4 columns]

In [147]:
developer = pd.DataFrame(columns = ['DEV_ID', 'DEV_NAME', 'PUB_ID'])

In [148]:
publisher = pd.DataFrame(columns = ['PUB_ID','PUB_NAME'])

### Getting the Unique values of Developer Name and Publisher Name

In [149]:
developer['DEV_NAME'] = df.DEVELOPER.unique()

In [150]:
publisher['PUB_NAME'] = df.PUBLISHER.unique()

In [151]:
developer.head()

  DEV_ID            DEV_NAME PUB_ID
0    NaN        Nintendo EAD    NaN
1    NaN          Game Freak    NaN
2    NaN      Bungie Studios    NaN
3    NaN        Project Sora    NaN
4    NaN  Nintendo EAD Tokyo    NaN

In [152]:
publisher.head()

  PUB_ID                        PUB_NAME
0    NaN                        Nintendo
1    NaN          Microsoft Game Studios
2    NaN  Sony Interactive Entertainment
3    NaN     Sony Computer Entertainment
4    NaN                          Square

### Generating Unique IDs for Publisher Table and Developer Table

In [153]:
j = 101
temp_pubid = []
for i in publisher['PUB_NAME']:
    temp_pubid.append(j)
    j+=1
j= 201
temp_devid = []
for i in developer['DEV_NAME']:
    temp_devid.append(j)
    j+=1

### Storing it in the appropriate columns in Publisher table and Developer Table

In [177]:
developer['DEV_ID'] = temp_devid
developer.head(10)

    DEV_ID                      DEV_NAME PUB_ID
0      201                  Nintendo EAD    NaN
1      202                    Game Freak    NaN
2      203                Bungie Studios    NaN
3      204                  Project Sora    NaN
4      205            Nintendo EAD Tokyo    NaN
5      206            Bandai Namco Games    NaN
6      207                  Nintendo EPD    NaN
7      208               Guerrilla Games    NaN
8      209                    SquareSoft    NaN
9      210                   Square Enix    NaN
10     211      SCEA Santa Monica Studio    NaN
11     212                    Epic Games    NaN
12     213             Polyphony Digital    NaN
13     214        Blizzard Entertainment    NaN
14     215    Capcom Production Studio 1    NaN
15     216                     Rare Ltd.    NaN
16     217              Lionhead Studios    NaN
17     218                 Ready at Dawn    NaN
18     219                        Crytek    NaN
19     220                 Retro Studios    NaN
20     221                HAL Laboratory    NaN
21     222    Capcom Production Studio 4    NaN
22     223                        Capcom    NaN
23     224                      Flagship    NaN
24     225  Sonic Team/Dimps Corporation    NaN
25     226              BestGameEver.com    NaN
26     227                     Good-Feel    NaN
27     228                    Sonic Team    NaN
28     229                    Cavia Inc.    NaN
29     230               Matrix Software    NaN
30     231             Evolution Studios    NaN
31     232            Sega WOW Overworks    NaN
32     233                 Ubisoft Paris    NaN
33     234                   Alfa System    NaN
34     235                          GRIN    NaN
35     236         High Voltage Software    NaN
36     237               Ellipse Studios    NaN

In [178]:
publisher['PUB_ID'] = temp_pubid
publisher.head(10)

    PUB_ID                        PUB_NAME
0      101                        Nintendo
1      102          Microsoft Game Studios
2      103  Sony Interactive Entertainment
3      104     Sony Computer Entertainment
4      105                          Square
5      106                     Square Enix
6      107          Blizzard Entertainment
7      108                          Capcom
8      109                 Electronic Arts
9      110                            Sega
10     111             Invisible Handlebar
11     112                         Ubisoft
12     113                  Strategy First

### Now, we will be adding the corresponding PUB_ID from the Publisher table to the Developer Table

In [181]:
df2 = df.drop_duplicates('DEVELOPER', keep='first', inplace = False)
pubtemp = []
for i in developer['DEV_NAME']:
    value = df2.loc[(df2.DEVELOPER == i),'PUBLISHER'].tolist()[0]
    pubtemp.append(value)

In [183]:
pub_id = []
for i in pubtemp:
    pub_id.append(publisher.loc[publisher.PUB_NAME == i,'PUB_ID'].tolist()[0])

In [184]:
developer.PUB_ID = pub_id

In [188]:
developer.head(10)

   DEV_ID            DEV_NAME  PUB_ID
0     201        Nintendo EAD     101
1     202          Game Freak     101
2     203      Bungie Studios     102
3     204        Project Sora     101
4     205  Nintendo EAD Tokyo     101
5     206  Bandai Namco Games     101
6     207        Nintendo EPD     101
7     208     Guerrilla Games     103
8     209          SquareSoft     104
9     210         Square Enix     106